.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1.51fr 1.27fr 2fr;
  padding: 92px 87px 89px 52px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.no-marker {
  display: block;
}

.text_active {
  text-decoration: none;
}

.header__link-text_list-item {
  list-style-type: circle;
  font-size: 18px;
}

.text-link {
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
  transition: 0.5s;
  border-radius: 5px;
  text-decoration: none; 
}

.header__logo {
  display: block;
  align-self: center;
  justify-self: center;
  width: 140px;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity:  0.6;
}

.cover__title {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  z-index: 1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.delete-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  color: #FFF;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #FFF;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bet-button:hover {
  color: #000000;
  background-color: #FFF;
}


.lots {
  padding: 0 50px;
}

/* я поработал с карточками и у меня карточки полностью сходятся с плагином perfect pixel(макет из фигмы) 
как сами карточки так и остальные элементы, за исключением навигации внизу https://disk.yandex.ru/d/kNdNKMtObESOgA*/

.lots__heading {
  display: inline-block;
  padding-left: 14px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  justify-content: space-around;
  gap: 25px;
  padding-top: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lost__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: auto;
  min-height: 563px;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  width: 1052px;
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  padding-left: 14px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 29px 0 24px;
}

.about__column {
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 103px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.about__text p {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-top: 3px;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}









